
	<!-- footer -->
	<footer class="main-footer">
		<div class="container">
			<div class="row">
				<div class="col-12 col-lg-4">
					<article class="footer-data">
						<i class="fas fa-credit-card"></i>
						<h2 class="prompt-semibold">Pagá con tarjeta o en efectivo</h2>
						<p class="prompt-light">Con nosotros, tenés cuotas sin interés con tarjeta o efectivo en puntos de pago. ¡Y
							siempre es seguro!</p>
					</article>
				</div>
				<div class="col-12 col-lg-4">
					<article class="footer-data">
						<i class="fas fa-gift"></i>
						<h2 class="prompt-semibold">Envío gratis desde $ 1.999</h2>
						<p class="prompt-light">Solo por estar registrado, tenés envíos gratis en miles de productos. Es un
							beneficio de Apple Puntos.</p>
					</article>
				</div>
				<div class="col-12 col-lg-4">
					<article class="footer-data">
						<i class="fas fa-user-shield"></i>
						<h2 class="prompt-semibold">Seguridad, de principio a fin</h2>
						<p class="prompt-light">¿No te gusta? ¡Devolvelo! En Apple Reseller, no hay nada que no puedas hacer, porque estás
							siempre protegido.</p>
					</article>
				</div>
			</div>
		</div>
	</footer>
</body>
	<!-- /footer -->
    </html>