<!DOCTYPE html>
<html lang="es">
	<!-- Includes-->
	<%- include('./partials/headerLogueado.ejs') %>
	
	<body>
		<!-- Novedades -->
		<div class="container products-wrapper">
			<div class="row">
				<div class="col-12">
					<h2 class="products-title prompt-semibold">Agregar productos</h2>
				</div>
				<!-- Show the "ultimos" products -->
				<h2 class="col-12"> <i>/////////////////////////////////////////

					<form action="" method="get" class="prompt-light">
			
						<div>
							<label for="imagen">Imagen: </label>
							<input id="imagen" type="file" name="iamgen" required>
						</div>
						<div>
							<label for="nombre">Nombre del producto: </label>
							<input id="nombre del producto" type="text" name="nombre producto" required>
						</div>
						<div>
							<label for="descripcci贸n">descripcci贸n: </label>
							<input id="descripcci贸n" type="text" name="descripcci贸n" required>
						</div>
						
								<button type="submit">Agregar Producto</button></p>
						</form>
							
							
				
						</h2>
			
				<%- include('./partials/footer.ejs') %>
			