<!DOCTYPE html>
<html lang="es">

	<!-- Includes-->
	<%- include('./partials/headerLogueado.ejs') %>


	<!-- Novedades -->
	<div class="container products-wrapper">
		<div class="row">
			<div class="col-12">
				<h2 class="products-title prompt-semibold">Editar mi perfil</h2>
			</div>
			<!-- Show the "ultimos" products -->
			<h2 class="col-12"> <i>///////////////////////////////////////// 

				<form action="" method="get" class="prompt-light" novalidate>
			
					<div>
						<label for="email">Email: </label>
						<input id="email" type="email" name="email" required>
					</div>
					<div>
						<label for="usuario">Usuario: </label>
						<input id="usuario" type="text" name="usuario" required>
					</div>
					<div>
						<label for="contrase単a">Contrase単a: </label>
						<input id="contrase単a" type="password" name="contrase単a" required>
					</div>
					<div>
						<label for="fecha de nacmiento">Fecha de nacimiento: </label>
						<input id="fecha nacimiento" type="date" name="fecha nacimiento" required>
					</div>
					<div>
						<label for="Nro de documento">Nro de documento: </label>
						<input id="documento" type="number" name="documento" required>
					</div>
					<div>
						<label for="foto de perfil">Foto de perfil: </label>
						<input id="foto" type="text" name="foto" required>
					</div>
			
		
							<button type="submit">Guardar cambios</button></p>
					</form>
						
					</h2>
		
<%- include('./partials/footer.ejs') %>