<!DOCTYPE html>
<html lang="es">

	<!-- Includes-->
	<%- include('./partials/header.ejs') %>
			

	<!-- Novedades -->
	<div class="container products-wrapper">
		<div class="row">
			<div class="col-12">
				<h2 class="products-title">Ingresar</h2>
			</div>
			<!-- Show the "ultimos" products -->
			<h2 class="col-12"> <i>///////////////////////////////////////// 

				<form action="" method="get">
			
					<div>
						<label for="email">Usuario: </label>
						<input id="email" type="email" name="email" required>
					</div>
					
					<div>
						<label for="contraseña">Contraseña: </label>
						<input id="contraseña" type="password" name="contraseña" required>
					</div>
					<div>
						<label> Recordar información de incio sesión:</label>
						<input type="checkbox" name="recordar" value="si"> 
					</div>
					
			
		
							<button type="iniciar sesión">Iniciar sesión</button></p>
					</form>
			</h2>

		

	<%- include('./partials/footer.ejs') %>
